#o{
    left:20%;
    top:9.6%;
}
#s{
    top:-6.6%;
    left:20%;
}
#f{
    top:-6.6%;
    left:20%;
}

svg {
    height: 200px;
    width: 500px;
    position: fixed;
  }
  
  circle {
    fill: transparent;
    stroke: black;
    stroke-width: 1px;
    cx: 50%;
    cy: 50%;
    r: 0;
    animation: sonar 10s ease-out infinite;
  }
  circle:nth-child(2) {
    animation-delay: 0.5s;
  }
  circle:nth-child(3) {
    animation-delay: 1s;
  }
  
  
  @keyframes sonar {
    0% {
      r: 0;
      opacity: 1;
    }
    100% {
      r: calc(50% - 1px);
      opacity: 0;
    }
  }
  